* {
  margin: 0 auto;
}
main {
  position: relative;
  width: 80%;
  height: 1000px;
  background-color: rgb(241, 156, 220);
}
header {
  width: 100%;
  height: 100px;
  background-color: rgb(25, 65, 68);
}
nav {
  width: 100%;
  height: 100px;
  background-color: rgb(103, 151, 72);
}
#a {
  width: 80%;
  height: 300px;
  background-color: rgb(56, 1, 1);
  float: left;
}
aside {
  width: 20%;
  height: 700px;
  background-color: blue;
  float: right;
}
#b {
  width: 40%;
  height: 200px;
  background-color: rgb(130, 20, 220);
  float: left;
}
#c {
  width: 40%;
  height: 200px;
  background-color: rgb(20, 220, 187);
  float: left;
}
#d {
  width: 80%;
  height: 200px;
  background-color: rgb(20, 113, 220);
  float: left;
}
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(63, 60, 53);
  float: left;
}
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  aside {
    display: none;
  } /* display none é para não aparecer */
  #a {
    width: 100%;
    background-color: crimson;
  }
  #b {
    width: 100%;
  }
  #c {
    width: 100%;
  }
  #d {
    width: 100%;
  }
}
/* orientação de tela landscape - paisagem portrait - retrato */
@media only screen and (orientation: landscape) {
  body {
    background-color: rgb(170, 169, 169);
  }
}

